body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: url('./agcC24A.png') no-repeat center center;
  background-color: rgb(243, 243, 243);
  display: block;
  position: relative;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'HelveticaNeue';
  
}
