.currentResumeStep{
    width: 100vw;
    background-color: #F9F9F9;

    display: flex;
}


/* -------------------------------Form------------------------------- */


.leftsidewrapper{
    width: 57vw;
    display: flex;
    flex-direction: column;
    
}

.formbody{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 150px;
}
.personalinfoform, .educationpage, .experiencepage{
    background-color:#F9F9F9;
    width: 100%;
}

.formheader{
    display: flex;
    justify-content: space-between;
    padding: 47px 150px 0px 150px;
}

.formheader p{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A1A1A;
}

.formheader p:nth-child(2){
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: right;

    color: #1A1A1A;
}

.formfooter{
    height: 20vh;
    background-color: #F9F9F9;
    padding: 0px 150px;

    display: flex;
    justify-content: space-between;

}

button{
    background: #6B40E3;
    border-radius: 4px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;

    width: 151px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

textarea{
    height: 103px;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 16px 0px 16px;
    margin-bottom: 33px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

input{
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding: 13px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);
}

label{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;

    color: #000000;
}

p{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;

    display: flex;
    align-items: center;

    color: #2E2E2E;
}


/* ----Personal Info---- */

.namesurname{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin-bottom: 46px;
}

.namesurname div{
    width: 100%;
}


.photoupload{
    display: flex;
    align-items: center;
    margin-bottom: 49px;
    position: relative;
}

.photoupload label{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 332px;
    margin-right: 20px;

    color: #1A1A1A;
    position: relative;
    bottom: -5px;
}

#myphoto{
    border-style: none;
}

.photoupload input {
    color: transparent;
    background-color: transparent;
  }
  .photoupload input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .photoupload input::before {
    content: 'ატვირთვა';
    width: 107px;
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background: #0E80BF;
    border-radius: 4px;

    /*text on but*/
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .email{
    margin-bottom: 29px;
  }



/* -------------------------------Resume------------------------------- */

.resume{
    background-color: rgb(255, 255, 255);
    width: 43vw;
    height: 100vh;
}

h1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;

    color: #F93B1D;
}
