@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");


.currentResumeStep{
    background-color: #F9F9F9;
    display: flex;
}


/* -------------------------------Form------------------------------- */


.wholePage{
    display: flex;
    justify-content: flex-end;
}

.formwrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}


.personalinfoform, .educationpage, .experiencepage{
    background-color:#F9F9F9;
    width: 57vw;
    padding: 165px 150px;
}

.formheader{
    font-family: "ArchyEDT-Bold", sans-serif, 'Helvetica Neue';
    width: calc(57vw - 150px);
    display: flex;
    justify-content: space-between;
    padding: 47px 0px 0px 150px;
    position: absolute;
}

.formheader p{
    font-family: "ArchyEDT-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A1A1A;
}

.formheader p:nth-child(2){
    font-family: "BPG Ingiri Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: right;

    color: #1A1A1A;
}

.formfooter{
    width: 57vw;
    height: 20vh;
    background-color: #F9F9F9;
    position: fixed;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

button{
    font-family: 'BPG Ingiri Arial', sans-serif;
    background: #6B40E3;
    border-radius: 4px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    margin: 0px 20px 0px 150px;

    width: 151px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

textarea{
    font-family: 'BPG Ingiri Arial', sans-serif;
    height: 103px;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 16px 0px 16px;
    margin-bottom: 33px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

input{
    font-family: 'BPG Ingiri Arial', sans-serif;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding: 13px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.6);
}

label{
    font-family: 'BPG Ingiri Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;

    color: #000000;
}

p{
    font-family: 'BPG Ingiri Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;

    display: flex;
    align-items: center;

    color: #2E2E2E;
}


/* ----Personal Info---- */

.namesurname{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin-bottom: 46px;
}

.namesurname div{
    width: 100%;
}


.photoupload{
    display: flex;
    align-items: center;
    margin-bottom: 49px;
    position: relative;
}

.photoupload label{
    font-family: 'BPG Ingiri Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 332px;
    margin-right: 20px;

    color: #1A1A1A;
    position: relative;
    bottom: -5px;
}

#myphoto{
    border-style: none;
}

.photoupload input {
    color: transparent;
    background-color: transparent;
  }
  .photoupload input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .photoupload input::before {
    content: 'ატვირთვა';
    width: 107px;
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background: #0E80BF;
    border-radius: 4px;

    /*text on but*/
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .email, .phone, .aboutme{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    width: 100%;
  }



/* -------------------------------Resume------------------------------- */

.resume{
    background-color: rgb(255, 255, 255);
    font-family: "BPG Ingiri Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 43vw;
    max-width: 43vw;
    height: 100vh;
    padding: 68px 80px;    

    display: flex;
    justify-content: space-between;
}

.resumeinfo{
    width: 70%;
    height: 100vh;
    display: block;
    white-space: normal;
}


.resume h1{
    font-family: "ArchyEDT-Bold", sans-serif, 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
    width: 100%;
}

.resume img{
    width: 246px;
    height: 246px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.resume .email::before {
    content: url(../Vectoremail.svg);
    width: 16px;
    height: 16px;
    padding-right: 11px;
}

.resume .phone::before {
    content: url(../Vectorphone.svg);
    width: 16px;
    height: 16px;
    padding-right: 11px;
}

.resume .aboutme {
    margin-top: 71px;
    position: relative;
    max-width: 432px;
    word-wrap: break-word;
}

.resume .aboutme::before {
    content: 'ჩემ შესახებ';

    position: absolute;
    left: 0;
    top: -29px;

    font-size: 22px;
    line-height: 22px;
    color: #F93B1D;

}