.homepage {
    text-align: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'HelveticaNeue';
    padding: 25px 70px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
  }

.btn{
    
}

a{
    text-decoration: none;
}