@import url("//cdn.web-fonts.ge/fonts/bpg-ingiri-arial/css/bpg-ingiri-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");


body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('./agcC24A.png') no-repeat center center;
  background-color: rgb(243, 243, 243);
  display: block;
}
